@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: "Franklin";
  src: url(./assets/FranklinGothic.ttf);
}
* {
  font-family: "Franklin Gothic Medium","Franklin",'Inter', "Arial Narrow", Arial, sans-serif;
}

.button {
  @apply text-base dark:bg-white dark:text-black bg-black rounded-md p-2 px-3 text-center;
}

#home-bg {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
